---
# The IP address or hostname 
# of your favorite MQTT broker
mqttBroker: your.own.broker
brokerPort: 1883

# Enter credetials if needed
userName: 
password:

# Listening topic
topic: tibber/#

# Topics for publishing
pubTopic: pulse/meter
pubStatus: pulse/status
pubNotice: pulse/notice

# ElWiz event messages
willMessage: ElWiz has left the building
greetMessage: ElWiz is performing

# Tibber Pulse event messages
onlineMessage: Pulse is talking
offlineMessage: Pulse is quiet

# Debug mode at startup
DEBUG: false

# Republish mode at startup
# If you want to filter the output,
# you may want to set this to false
REPUBLISH: true

#############################################
# The rest of the configuration is only valid 
# for the "fetchprices" program
#
# Windows users without cron may want to use 
# the "node-schedule" module.
# Set the following to "true" if that is the case.
# Cron users should set  it to "false".
runNodeSchedule: false

# The following recommendedecommended scheduleing
# will try to fetch prices 10 minutes past 
# the scheduleHours. The same scheduling is
# recommended for cron users
scheduleHours: [15,17,19,21,23]
scheduleMinutes: [30]

# Your local supplier's price information
# Setting computePrices false for
# only returning naked spot prices (no VAT)
computePrices: false

# Use the same currency as your local supplier
# The following currencies are available:
# [EUR, SEK, NOK, DKR]
priceCurrency: NOK

# The following regions are available.
#
# Sweden, Finland, Denmark
# [SE1, SE2, SE3, SE4, FI, DK1, DK2]
# [  1,   2,   3,   4,  5,   6,   7]
#
# Norway
# [Oslo, Kr.sand, Bergen, Molde, Tr.heim, Tromsø]
# [   8,       9,     10,    11,      12,     13]
#
# Find your region and insert here.
# Ask your local supplier if in doubt.
priceRegion: 8

# Change the following values according
# to your electric power supplier's invoice
# Different price models may require changes to program 
# You will mos likely find you prices from your supplier's invoices
supplierKwhPrice: 0.0
supplierMonthPrice: 0.0
supplierVatPercent: 0.0

# Spot prices from Nordpool are vithout VAT
spotVatPercent: 0.0

# Network cost
gridKwhPrice: 0.0
gridDayPrice: 0.0
gridVatPercent: 0.0
