version: "2"
services:
  mqtt:
    container_name: mosquitto
    privileged: true
    restart: unless-stopped
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ~/docker/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ~/docker/mqtt/data:/mosquitto/data
      - ~/docker/mqtt/log:/mosquitto/log

  elwiz:
    container_name: elwiz
    #privileged: true
    restart: unless-stopped
    depends_on:
      - mqtt
    #image: edenb/livemap
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:3000"
    links:
      - mqtt
    volumes:
      - ~/docker/elwiz/config.yaml:/app/config.yaml
      - ~/docker/elwiz/data:/app/data
      #- ~/docker/elwiz/data/powersave.json:/app/data/powersave.json
      #- ~/docker/elwiz/data/currencies:/app/data/currencies
      #- ~/docker/elwiz/data/prices:/app/data/prices

